aside {
  grid-area: sidebar;
  border-right: 0.05rem solid #ebebeb;
  margin: 2.5rem 0 0 1rem;
  width: 14.8125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  background: #ffffff;

  & ul {
    /* Nadpisanie domyślnych styli przeglądarki */
    padding-inline-start: 0.5rem;
    list-style: none;

    & li {
      display: flex;
      margin-bottom: 1.5rem;
      align-items: center;
      justify-content: left;
      line-height: 2rem;

      & a {
        display: flex;
        align-items: center;
        padding: 2px;
        text-decoration: none;
        color: var(--color-purple);

        &:hover,
        &.active {
          color: var(--color-red);

          & .icon path {
            stroke: var(--color-red);
          }
        }

        & .icon {
          margin-right: 1rem;

          & path {
            stroke: var(--color-purple);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 50rem) {
  aside {
    display: none;
  }

  aside.aside-visible {
    display: flex;
    position: absolute;
    top: 5rem;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100vh;
  }
}
