footer {
  grid-area: footer;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
}

.footer-address > a,
.footer-content {
  color: var(--color-white);
  text-decoration: none;
  display: flex;
}

.footer-address a {
  white-space: nowrap;
  justify-content: flex-end;
}
.footer-address {
  text-align: right;
}

.footer-content {
  max-width: 51rem;
}

@media screen and (max-width: 50rem) {
  footer {
    flex-direction: column-reverse;
    row-gap: 1rem;
  }
}
