.todo-card * {
  margin: 0;
}

/* .todo-card * {
  outline: 1px solid rgba(255, 0, 0, 0.2);
} */

.todo-card {
  display: grid;
  grid-template-columns: auto 8.5rem;
  column-gap: 2rem;
  min-height: 10.3rem;
  padding: 1.1rem 1.5rem;
  border-radius: 0.5rem;
  border-left: 5px solid var(--gray-300, #c8cbd1);
  background: var(--background-bg-primary, #fff);
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.15),
    0px 2px2rem 0px rgba(0, 0, 0, 0.12);
}
.todo-card--done {
  border-left: 5px solid var(--gray-700, #6b7280);
  background: var(--gray-300, #c8cbd1);
}

.todo-card--title {
  color: var(--secondary-secondary, #23213d);
  font-size: 1.12rem;
  font-weight: 700;
  line-height: 2.12rem;
}

.todo-card--author,
.todo-card--date {
  color: var(--gray-700, #6b7280);
  font-size: 0.75rem;
}

.todo-card--note {
  color: var(--gray-700, #6b7280);
  font-size: 0.87rem;
  margin-top: 0.75rem;
}

.todo-card--aside {
  color: var(--gray-700, #6b7280);
  font-size: 0.75rem;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.todo-card--controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo-card--controls > * {
  margin: 0.5rem;
  cursor: pointer;
}

.todo-card--markAsDoneIcon {
  height: 1.5rem;
  width: 1.895rem;
  fill: #6b7280;
}

.todo-card--deleteIcon {
  height: 1.625rem;
  width: 1.625rem;
  stroke: #6b7280;
}

.todo-card--message {
  color: var(--colors-actions-danger, #e12b1b);
}
.todo-card--status {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  min-height: 3.25rem;
}

.todo-card--markAsDoneIconDone {
  width: 2.7rem;
  height: 1.875rem;
  fill: #07c23b;
}
.todo-card--markAsDoneError {
  fill: var(--colors-actions-danger, #e12b1b);
}
.todo-card--deleteIconError {
  stroke: var(--colors-actions-danger, #e12b1b);
}
