header {
  grid-area: header;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 3rem;
  box-shadow: 0 1px 9px 0 var(--color-grey);
  height: 7rem;
  flex-shrink: 0;
  background-color: #fff;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
}
header > a:first-of-type {
  text-decoration: none;
}
header.header-title {
  color: var(--color-grey);
  font-weight: normal;
}

header .image-container {
  display: flex;
  align-items: center;
}
header .circular_image {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

header .name-surname-container {
  display: flex;
  flex-direction: column;
}
header h4 {
  margin-bottom: 0;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}
header h5 {
  margin-top: 0;
  color: var(--gray-500, #999);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
}
header svg:nth-of-type(2) {
  margin-left: 2rem;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  cursor: pointer;
}
