.exercise-main-container {
  display: grid;
  margin-left: 5rem;
  grid-template-columns: 1fr 1fr;
}

.margin-exercise-fixer {
  margin-top: 0;
  margin-left: 5rem;
  color: var(--secondary-secondary, #23213d);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 1.125rem;
  line-height: 2.125rem;
}
.exercise-main-container ul {
  list-style: none;
}

.exercise-main-container li {
  display: flex;
  width: 27.1875rem;
  height: 3.9375rem;
  padding: 0.9375rem;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 0.4375rem;
  border: 0.747px solid var(--black-black, #000);
}

.exercise-main-container a:link {
  color: var(--secondary-secondary, #23213d);
}
